@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html,
body {
	background: linear-gradient(270deg, #000428, #1a0033, #240046, #3b0a45, #000428, #00111a);
	background-size: 800% 800%;
	animation: spaceFlow 15s ease-in-out infinite;
}

body {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 0.66rem 1rem;
}

@keyframes spaceFlow {
	0% {
		background-position: 0% 50%;
		filter: brightness(1);
	}
	25% {
		background-position: 50% 100%;
		filter: brightness(1.1);
	}
	50% {
		background-position: 100% 50%;
		filter: brightness(1);
	}
	75% {
		background-position: 50% 0%;
		filter: brightness(1.05);
	}
	100% {
		background-position: 0% 50%;
		filter: brightness(1);
	}
}
