@import 'tailwindcss';
@plugin '@tailwindcss/typography';

html,
body {
	background-color: linear-gradient(270deg, #000428, #1a0033, #240046, #3b0a45, #000428, #00111a);
	background-size: 800% 800%;
	scroll-behavior: smooth;
	animation: spaceFlow 15s ease-in-out infinite;
}

body {
	min-height: 100vh;
	box-sizing: border-box;
	padding: 0.66rem 1rem;
	color: white;
	background: url('./full-screen.jpg') repeat;

	/* scrollbar-width: thin;
	scrollbar-color: var(--color-slate-800) var(--color-slate-900);
	scrollbar-base-color: var(--color-slate-800); */
}

/* SCROLLBAR STYLES */

::-webkit-scrollbar,
.scrollbar {
	width: 0.4rem;
}

::-webkit-scrollbar-track {
	background-color: var(--color-slate-900);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 1rem;
	padding: 1rem 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	width: 0.5rem;
	background: #888;
	cursor: grab;
}

@keyframes spaceFlow {
	0% {
		background-position: 0% 50%;
		filter: brightness(1);
	}
	25% {
		background-position: 50% 100%;
		filter: brightness(1.1);
	}
	50% {
		background-position: 100% 50%;
		filter: brightness(1);
	}
	75% {
		background-position: 50% 0%;
		filter: brightness(1.05);
	}
	100% {
		background-position: 0% 50%;
		filter: brightness(1);
	}
}
